//key frames
@keyframes fade-in {
    from{
        visibility:hidden;
        opacity:0;

    }
    1%{
        visibility:visible;
    }

    to{
        visibility:visible;
        opacity:1;

    }
}


@keyframes fade-out {
    from{
        visibility:visible;
        opacity:1;

    }

    99%{
        visibility:visible;
        opacity:0;
    }
    
    to{
        visibility:hidden;
        opacity:0;

    }
}

//end

//animations class

.fade-in{
    animation: fade-in 350ms ease-in-out forwards
}

.fade-go{
    animation: fade-in 0.6s ease-in;

}

.fade-out{
    animation: fade-out 350ms ease-in-out forwards
}



.open{
    z-index:100;
    >span:first-child{
        transform: rotate(45deg);
    }

    >span:nth-child(2){
        opacity:0;
    }

    >span:last-child{
        transform: rotate(-45deg);
    }
}

//end

 .has-fade{
    visibility:hidden;
    
}

.navigate{
    position:fixed;
    right:0;
    left:0;
}
