//COLORS

//BG
$black: #0B0D17;

//headings
$lightpurple: #D0D6F9;

//Body text
$nearwhite: #FFFFFF;


//Font-size

//Heading
$heading1: 9.375rem; //150 px / bellefair font
$heading2: 6.25rem; //100 px  / bellefair font
$heading3: 3.5rem; //56 px / bellefair font
$heading4: 2rem; //32 px / bellefair font
$heading5: 1.75rem; //28 px / 4.75 character space / barlow font

//Sub-Heading
$subheading1: 1.75rem ;//28px / bellefair font
$subheading2: 0.875rem ;//14px /  2.35 character space  / barlow font

//Nav txt
$navtext: 1rem;//16px 2.7 character space / barlow font
